-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "planjob" (
    "id" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "input" JSONB,
    "plan" JSONB,
    "status" TEXT NOT NULL DEFAULT 'draft',

    CONSTRAINT "planjob_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "emailotp" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "codeHash" TEXT NOT NULL,
    "planId" TEXT,
    "expiresAt" TIMESTAMP(3) NOT NULL,
    "usedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "emailotp_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "session" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "tokenHash" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "expiresAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "session_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "order" (
    "id" TEXT NOT NULL,
    "planId" TEXT NOT NULL,
    "email" TEXT,
    "amount" INTEGER NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "order_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE INDEX "EmailOtp_email_idx" ON "emailotp"("email");

-- CreateIndex
CREATE INDEX "EmailOtp_planId_idx" ON "emailotp"("planId");

-- CreateIndex
CREATE UNIQUE INDEX "Session_tokenHash_key" ON "session"("tokenHash");

-- CreateIndex
CREATE INDEX "Session_email_idx" ON "session"("email");

-- CreateIndex
CREATE INDEX "order_planId_idx" ON "order"("planId");

-- CreateIndex
CREATE INDEX "order_email_idx" ON "order"("email");

